# .gitattributes - Picky line endings.

# Files without dots are shell scripts. They need LF line endings.
* text eol=lf

# Files with dots are normal text files. They can use the system default.
*.* text eol=auto

# Except Windows command files. They (like batch files) need CRLF line endings.
*.cmd text eol=crlf
